<section class="admin-products-section">
    <div class="admin-products-head">
        <h1 class="admin-title-section"> Panel de generos: </h1>
        <a class="btn-terceary" href='/admin/panel/products/create' type="button"> Crear nuevo genero </a>
    </div>

    <form class="admin-products-form">
        <div class="admin-products-inputs-container">
            <div class="admin-product-panel-inputs-container">
                <label class="form-label-input label-sm">
                    <span>Id:</span>
                    <input name="categoriaId" type="text" placeholder="1"
                        value="<%= (locals.applicated?.categoriaId) ?? '' %>" />
                </label>

                <label class="form-label-input label-lg">
                    <span>Nombre:</span>
                    <input name="categoriaNombre" type="text" placeholder="Remeras"
                        value="<%= (locals.applicated?.categoriaNombre) ?? '' %>" />
                </label>

            </div>
        </div>
        <div class="admin-products-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>

        <% if(locals.categorias) {%>
            <% if(locals.categorias.quantity > 0) {%>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "id_asc") ? "id_desc" : "id_asc" %>"
                                    />
                                    Id 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order == "id_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(!locals.applicated?.order || locals.applicated.order == "id_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "nombre_asc") ? "nombre_desc" : "nombre_asc" %>"
                                    />
                                    Nombre 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order ==  "nombre_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(locals.applicated?.order ==  "nombre_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                Cantidad de productos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                                <% for(categoria of locals.categorias.elements) { %>
                                    <tr>
                                        <td> <%= categoria.id %></td>
                                        <td> <%= categoria.nombre %></td>
                                        <td> <%= categoria.cantidadProductos %></td>
                                    </tr>
                                <% } %>
                    </tbody>
                </table>
                <div class="user-form-pagination-container">
                    <%- include('tablePagination', { 
                            quantity: locals.categorias.quantity,
                            resultsPerPage: locals.categorias.resultsPerPage, 
                            page: locals.categorias.page,
                        }) %>
                </div>
            <% } else { %>
                <p class="no-coincidencia-error">No hay coincidencias con la busqueda</p>
            <% } %>
        <% } %>
    </form>
</section>