<section class="admin-products-section">
    <div class="admin-products-head">
        <h1 class="admin-title-section"> Panel de generos: </h1>
        <%- include('modals/adminAgregarModal', {
            modalTitle: "Agregar nuevo genero",
            btnSuccessLabel: "Agregar",
            action:"Agregar",
        }) %>    
    </div>

    <form class="admin-products-form">
        <div class="admin-products-inputs-container">
            <div class="admin-product-panel-inputs-container">
                <label class="form-label-input label-sm">
                    <span>Id:</span>
                    <input name="generoId" type="text" placeholder="1"
                        value="<%= (locals.applicated?.generoId) ?? '' %>" />
                </label>

                <label class="form-label-input label-lg">
                    <span>Nombre:</span>
                    <input name="generoNombre" type="text" placeholder="Nike"
                        value="<%= (locals.applicated?.generoNombre) ?? '' %>" />
                </label>

            </div>
        </div>
        <div class="admin-products-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>
    </form>
        <% if(locals.generos) {%>
            <% if(locals.generos.quantity > 0) {%>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "id_asc") ? "id_desc" : "id_asc" %>"
                                    />
                                    Id 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order == "id_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(!locals.applicated?.order || locals.applicated.order == "id_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "nombre_asc") ? "nombre_desc" : "nombre_asc" %>"
                                    />
                                    Nombre 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order ==  "nombre_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(locals.applicated?.order ==  "nombre_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                Cantidad de productos
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                                <% for(genero of locals.generos.elements) { %>
                                    <tr>
                                        <td> <%= genero.id %></td>
                                        <td> <%= genero.nombre %></td>
                                        <td> <%= genero.cantidadProductos %></td>
                                        <td style="width:55px;">
                                            <div style="display:flex; justify-content: space-between; padding: 0 8px;">
                                                <%- include('modals/adminAgregarModal', { 
                                                    modalTitle: "Editar genero",
                                                    button: `<i class="fa-solid fa-pen fa-sm btnShow" id="btnShowEditar${genero.id}"></i>`,
                                                    btnSuccessLabel: "Editar",
                                                    modalId: `${genero.id}`,
                                                    action:"Editar",
                                                    formData: {nombre: genero.nombre}
                                                }) %>

                                                <%- include('components/confirmMsg', { 
                                                    modalTitle: "Eliminar genero:",
                                                    button: `<i class="fa-solid fa-trash fa-sm btnShow" id="modalEliminarConfirm${genero.id}"></i>`,
                                                    btnSuccessLabel: "Eliminar",
                                                    tagConfirmMsg: `Estas seguro de eliminar el genero <b>&nbsp;${genero.nombre}</b>&nbsp;con id <b>&nbsp;${genero.id}</b>?`,
                                                    modalId: `${genero.id}`,
                                                }) %>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                    </tbody>
                </table>
                <div class="user-form-pagination-container">
                    <%- include('tablePagination', { 
                            quantity: locals.generos.quantity,
                            resultsPerPage: locals.generos.resultsPerPage, 
                            page: locals.generos.page,
                        }) %>
                </div>
            <% } else { %>
                <p class="no-coincidencia-error">No hay coincidencias con la busqueda</p>
            <% } %>
        <% } %>
    
</section>

<script src="/js/handleClickAdminPanelTableActions.js" type="module"></script>