<section class="admin-products-section">
    <div class="admin-products-head">
        <h1 class="admin-title-section"> Panel de marcas: </h1>
        <%- include('modals/adminAgregarModal', {
            modalTitle: "Agregar nueva marca",
            btnSuccessLabel: "Agregar",
            scriptPath: "/js/service/createNewBrand.js", 
        }) %>    

    </div>

    <form class="admin-products-form">
        <div class="admin-products-inputs-container">
            <div class="admin-product-panel-inputs-container">
                <label class="form-label-input label-sm">
                    <span>Id:</span>
                    <input name="marcaId" type="text" placeholder="1"
                        value="<%= (locals.applicated?.marcaId) ?? '' %>" />
                </label>

                <label class="form-label-input label-lg">
                    <span>Nombre:</span>
                    <input name="marcaNombre" type="text" placeholder="Nike"
                        value="<%= (locals.applicated?.marcaNombre) ?? '' %>" />
                </label>

            </div>
        </div>
        <div class="admin-products-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>

        <% if(locals.marcas) {%>
            <% if(locals.marcas.quantity > 0) {%>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "id_asc") ? "id_desc" : "id_asc" %>"
                                    />
                                    Id 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order == "id_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(!locals.applicated?.order || locals.applicated.order == "id_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                <button type="submit" class="btn-sort-table" name="order" 
                                    value="<%= (!locals.applicated?.order || locals.applicated.order ==  "nombre_asc") ? "nombre_desc" : "nombre_asc" %>"
                                    />
                                    Nombre 
                                    <i class="fa-solid fa-sort-down <% if(locals.applicated?.order ==  "nombre_desc") { %> active <% } %>"></i>
                                    <i class="fa-solid fa-sort-up <% if(locals.applicated?.order ==  "nombre_asc") { %> active <% } %>"></i>
                                </button>
                            </th>
                            <th>
                                Cantidad de productos
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                                <% for(marca of locals.marcas.elements) { %>
                                    <tr>
                                        <td> <%= marca.id %></td>
                                        <td> <%= marca.nombre %></td>
                                        <td> <%= marca.cantidadProductos %></td>
                                        <td style="width:55px;">
                                            <div style="display:flex; justify-content: space-between; padding: 0 8px;">
                                            <%- include('components/confirmMsg', { 
                                                modalTitle: "Editar Categoria:",
                                                button: `<i class="fa-solid fa-pen fa-sm btnShow" id="modalEditar${marca.id}"></i>`,
                                                modalId: `modalEditar${marca.id}`,
                                            }) %>

                                            <%- include('components/confirmMsg', { 
                                                modalTitle: "Eliminar marca:",
                                                button: `<i class="fa-solid fa-trash fa-sm btnShow" id="modalEliminar${marca.id}"></i>`,
                                                tagConfirmMsg: `Estas seguro de eliminar la marca <b>&nbsp;${marca.nombre}</b>&nbsp;con id <b>&nbsp;${marca.id}</b>?`,
                                                modalId: `${marca.id}`,
                                                btnSuccessLabel: "Eliminar",
                                            }) %>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                    </tbody>
                </table>
                <div class="user-form-pagination-container">
                    <%- include('tablePagination', { 
                            quantity: locals.marcas.quantity,
                            resultsPerPage: locals.marcas.resultsPerPage, 
                            page: locals.marcas.page,
                        }) %>
                </div>
            <% } else { %>
                <p class="no-coincidencia-error">No hay coincidencias con la busqueda</p>
            <% } %>
        <% } %>
    </form>
</section>

<script src="/js/handleClickAdminPanelTableActions.js" type="module"></script>
