<!-- 
    type: "success" || "info" || "danger"
    boldTitle: texto
    title: texto
    description: texto
 -->

<% if (locals.notificationAlert) { %>
    <div id="alert" class="alert bottom <%= 
    locals.notificationAlert.type=='success' ? 'success' :
        locals.notificationAlert.type=='info' ? 'info' :
            locals.notificationAlert.type=='danger' ? 'danger' : '' 
    %>">
        <i class="fa-solid fa-check fa-2xl"></i>
        <p class="alert-msg">
            <b><%=locals.notificationAlert.boldTitle%></b><%=locals.notificationAlert.title%><br>
            <span><%-locals.notificationAlert.tag%></span>
            <span><%=locals.notificationAlert.description%></span>
        </p>
        <i class="fa-solid fa-xmark fa-lg"></i>
    </div>
<% } %>