<!-- 
    type: "success" || "info" || "danger"
    boldTitle: texto
    title: texto
    description: texto
 -->

<% if (locals.notificationAlert) { %>
    <script>
        window.onload = () => {
            document.querySelector("#notificationAlert").classList.add("show")
        }
    </script>
<% } %>

    <div id="notificationAlert" class="alert bottom <%= 
    locals?.notificationAlert?.type=='success' ? 'success' :
        locals?.notificationAlert?.type=='info' ? 'info' :
            locals?.notificationAlert?.type=='danger' ? 'danger' : '' 
    %>">
        <div class="alert-container">
            <i id="notificationIcon" class="fa-solid fa-2xl <%= 
            locals?.notificationAlert?.type=='success' ? 'fa-check' :
                locals?.notificationAlert?.type=='info' ? 'fa-circle-info' :
                    locals?.notificationAlert?.type=='danger' ? 'fa-circle-exclamation' : "fa-check" 
            %>"></i>
            <p class="alert-msg">
                <b><%=locals?.notificationAlert?.boldTitle%></b><%=locals?.notificationAlert?.title%><br>
                <span><%-locals?.notificationAlert?.tag%></span>
                <span><%=locals?.notificationAlert?.description%></span>
            </p>
            <i id="btn-close-alert" class="fa-solid fa-xmark fa-lg"></i>
            <div id="alert-time-mark"></div>
        </div>
    </div>

<script src="/js/notificationAlert.js"></script>

<% if (locals.notificationAlert) { %>
    <script src="/js/showNotificationAlert.js"></script>
<% } %>
