<section class="admin-products-section">
    <div class="admin-products-head">
        <h1 class="admin-title-section"> Panel de usuarios: </h1>
    </div>

    <form id="userPanelForm" action="/super/panel/users" method="GET">
        <div class="form-header-container">
            <div class="form-inputs-container">
                <label class="form-label-input">
                    <span>Nombre:</span>
                    <input name="userName" type="text" placeholder="Joe"
                        value="<%= (locals.formData?.userName) ?? '' %>" />
                </label>
                <label class="form-label-input">
                    <span>Apellido:</span>
                    <input name="userLastname" type="text" placeholder="Doe"
                        value="<%= (locals.formData?.userLastname) ?? '' %>" />
                </label>
                <label class="form-label-input">
                    <span>Email:</span>
                    <input name="userEmail" type="text" placeholder="joe-doe@gmail.com"
                        value="<%= (locals.formData?.userEmail) ?? '' %>" />
                </label>
            </div>
            <div class="form-inputs-container">
                <label class="form-label-input">
                    <span>Rol:</span>
                    <select name="userRole">
                        <option value=""> Todos </option>
                        <option value="1" <% if(locals.formData?.userRole==1) { %> selected<%}%> >
                                Usuario
                        </option>
                        <option value="2" <% if(locals.formData?.userRole==2) { %> selected<%}%> > Admin
                        </option>
                        <option value="3" <% if(locals.formData?.userRole==3) { %> selected<%}%> > Super
                        </option>
                    </select>
                </label>
                <label class="form-label-input">
                    <span>Restringido:</span>
                    <select name="userRestringido">
                        <option value=""> Todos </option>
                        <option value="1" <% if(locals.formData?.userRestringido==1) { %> selected<%}%>
                                > SI
                        </option>
                        <option value="2" <% if(locals.formData?.userRestringido==2) { %> selected<%}%>
                                > NO
                        </option>
                    </select>
                </label>
            </div>

        </div>
        <div class="form-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>
        <% if(locals.usersResults) {%>
            <% if(locals.usersResults.quantity> 0) {%>
                <table id="user-edit-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Admin</th>
                            <th>Super</th>
                            <th>Restringido</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-user-panel">
                        <% for(currentUser of locals.usersResults.elements) { %>
                            <tr>
                                <td>
                                    <%= currentUser.nombre %>
                                </td>
                                <td>
                                    <%= currentUser.apellido %>
                                </td>
                                <td>
                                    <%= currentUser.email %>
                                </td>
                                <td>
                                    <% if(currentUser.admin) {%> SI <%} else {%> NO <%}%>
                                </td>
                                <td>
                                    <% if(currentUser.super) {%> SI <%} else {%> NO <%}%>
                                </td>
                                <td>
                                    <% if(currentUser.restringido) {%> SI <%} else {%> NO <%}%>
                                </td>
                                <td style="padding:0 4px">
                                    <%- include('modals/userEditModal', {userData: currentUser}) %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <div class="user-form-pagination-container">
                    <%- include('tablePagination', { quantity: locals.usersResults.quantity, resultsPerPage:
                        locals.usersResults.resultsPerPage, page: locals.usersResults.page, }) %>
                </div>
                <% } else { %>
                    <p style="margin-bottom:20px;">No hay coincidencias con la busqueda</p>
                    <% } %>
                        <% } %>
    </form>

</section>