<section class="admin-products-section">
    <div class="admin-products-head">
        <h1 class="admin-title-section"> Panel de configuraciones: </h1>
    </div>

    <form id="userPanelForm">
        <div class="form-header-container">
            <div class="form-inputs-container">
                <label class="form-label-input">
                    <span>Nombre:</span>
                    <input name="nombre" type="text" placeholder="CANT_RESULTADOS"
                        value="<%= (locals.formData?.nombre) ?? '' %>" />
                </label>
                <label class="form-label-input">
                    <span>Valor:</span>
                    <input name="valor" type="text" placeholder="12" value="<%= (locals.formData?.valor) ?? '' %>" />
                </label>
                <label class="form-label-input">
                    <span>Descripcion:</span>
                    <input name="descripcion" type="text" placeholder="Define la cantidad de resultados"
                        value="<%= (locals.formData?.descripcion) ?? '' %>" />
                </label>
            </div>
        </div>
        <div class="form-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>
    </form>
    
    <% if(locals.configResults) {%>
        <% if(locals.configResults.quantity> 0) {%>
            <table id="user-edit-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Valor</th>
                        <th style="max-width: 400px;">Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody-user-panel">
                    <% for(currentConfig of locals.configResults.elements) { %>
                        <tr>
                            <td>
                                <%= currentConfig.nombre %>
                            </td>
                            <td>
                                <%= currentConfig.valor %>
                            </td>
                            <td style="max-width: 400px;">
                                <%= currentConfig.descripcion %>
                            </td>
                            <td style="padding:0 4px">
                                <%- include('modals/configEditModal', {configData: currentConfig}) %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div class="user-form-pagination-container">
                <%- include('tablePagination', { quantity: locals.configResults.quantity, resultsPerPage:
                    locals.configResults.resultsPerPage, page: locals.configResults.page, }) %>
            </div>
            <% } else { %>
                <p style="margin-bottom:20px;">No hay coincidencias con la busqueda</p>
                <% } %>
                    <% } %>


</section>

<script src="/js/handleClickEditarConfig.js" type="module"></script>