<div>
    <div id="modalBackground" class="user-modal-background initial-position">
        <div class="user-modal" id="modal<%= locals.configData.id %>">
            <div class="edit-user-form">
                <div class="edit-user-modal-container">
                    <h1>Modificar datos de usuario:</h1>
                    <hr class="edit-user-form-separador"/>
                    <div class="form-inputs-container">
                        <label class="form-label-input">
                            <span>Valor:</span>
                            <input name="cName" class="input-text-secondary" type="text" tabindex="1"
                                placeholder="Nombres" value="<%= locals.configData.nombre %>" />
                        </label>
                    </div>
                </div>
                <div class="buttons-container">
                    <button id="btnCancelar-modal<%= locals.configData.id %>"
                        class="btn-secondary btn-small btnCancelar">Cancelar</button>
                    <button id="btnAplicar-modal<%= locals.configData.id %>"
                        class="btn-primary btn-small btnAplicar">Aplicar</button>
                    <button id="loader" class="btn-primary btn-small" style="display:none">
                        <%- include('../components/spinner') %>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-pen fa-sm btnShow" id="btnShow-modal<%= locals.configData.id %>"></i>
</div>