<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Product </title>
</head>
<!-- /head -->

<body>
    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
    <!-- /Header -->

    <main>
        <section class="caja-grande pd-container">
            <div class="pd-big-photo">
                <h4>
                    <ul class="pd-path">
                        <li><a href=""> Inicio </a></li>
                        <li>/</li>
                        <li><a href=""> Nike </a></li>
                        <li>/</li>
                        <li><a href=""> Calzado </a></li>
                    </ul>
                </h4>
                <img src="/img/products/<%=producto.imagens[0].nombre%>" alt="Imagen principal de <%=producto.nombre%>" class="pd-bphoto" />
            </div>

            <div class="pd-small-photo">


                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[1].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[2].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[3].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[4].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
            </div>

            <div class="pd-items">
                <h1> <%= producto.nombre %> </h1>
                <p> <%= producto.categoria %> </p>
                <span class="pd-price"> $<%= producto.precio %> </span>

                <div class="pd-color">
                    <h3>Color</h3>
                    <button class="pd-color-button b1">&nbsp;</button>
                    <button class="pd-color-button b2">&nbsp;</button>
                    <button class="pd-color-button b3">&nbsp;</button>
                    <button class="pd-color-button b4">&nbsp;</button>
                </div>

                <div class="pd-size">
                    <h3>Guia de talles y ajustes</h3>

                    <select name="" id="" class="pd-size-select">
                        <option value="">38</option>
                        <option value="">39</option>
                        <option value="">40</option>
                        <option value="">41</option>
                        <option value="">42</option>
                    </select>
                </div>

                <button id="btnAddProduct" class="btn-secondary" onclick="agregarProducto(<%= producto?.id %>, <%= locals?.userData?.id %>)">
                    Agregar al carrito <i class="fa-solid fa-arrow-right"></i>
                </button>

                <button id="btnRemoveProduct" style="display:none;" class="btn-primary" onclick="removerProducto(<%= producto?.id %>, <%= locals?.userData?.id %>)">
                    Remover del carrito <i class="fa-solid fa-arrow-right"></i>
                </button>


                <img src="/img/medio-de-pago.jpg" alt="formas de pago" class="pd-img" />
                <% if(locals.userData?.admin) { %>
                <div class="edit-delete-container">
                    <a class="btn-edit" href="/edit/<%= producto.id %>">
                        Editar
                    </a>
                    <form action="/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-delete">
                            Eliminar
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
        </section>
        <section class="caja-grande">
            <!-- COMPLETA TU LOOK -->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">COMPLETA TU LOOK</h2>
                </div>
                <div class="caja-chica-productos">
                    <% if(locals.productosDestacados.length > 0) {%>
                        <% for(let producto of locals.productosDestacados) { %>
                            <%- include('./partials/components/productCard', {producto, userData:locals.userData}) %>
                        <% } %>
                    <% } %>                    
                </div>
            </section>



            <!-- PRODUCTOS QUE PODRIAN INTERESARTE -->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS QUE PODRIAN INTERESARTE</h2>
                </div>
                <div class="caja-chica-productos">
                    <% if(locals.productosDestacados.length > 0) {%>
                        <% for(let producto of locals.productosDestacados) { %>
                            <%- include('./partials/components/productCard', {producto, userData:locals.userData}) %>
                        <% } %>
                    <% } %>                    
                </div>
            </section>
        </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
<script src="/js/detalleProducto.js"></script>
<script src="/js/chart.js"></script>

<script>
    refreshDetailButtons(<%= producto.id %>, <%= locals?.userData?.id %>)
</script>

</html>