<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Product </title>
</head>
<!-- /head -->

<body>
    <div class="info-promo">
        <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
        $20.000
    </div>

    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
    <!-- /Header -->

    <main>
        <section class="caja-grande pd-container">
            <div class="pd-big-photo">
                <h4>
                    <ul class="pd-path">
                        <li><a href=""> Inicio </a></li>
                        <li>/</li>
                        <li><a href=""> Nike </a></li>
                        <li>/</li>
                        <li><a href=""> Calzado </a></li>
                    </ul>
                </h4>
                <img src="/img/products/<%=producto.imagens[0].nombre%>" alt="Imagen principal de <%=producto.nombre%>" class="pd-bphoto" />
            </div>

            <div class="pd-small-photo">


                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[1].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[2].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[3].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
                <a href="/detail/<%= producto.id %>">
                    <img src="/img/products/<%= producto.imagens[4].nombre %>" alt="Imagen secundaria de <%=producto.nombre%>" class="pd-sphoto photo-hover" />
                </a>
            </div>

            <div class="pd-items">
                <h1> <%= producto.nombre %> </h1>
                <p> <%= producto.categoria %> </p>
                <span class="pd-price"> $<%= producto.precio %> </span>

                <div class="pd-color">
                    <h3>Color</h3>
                    <button class="pd-color-button b1">&nbsp;</button>
                    <button class="pd-color-button b2">&nbsp;</button>
                    <button class="pd-color-button b3">&nbsp;</button>
                    <button class="pd-color-button b4">&nbsp;</button>
                </div>

                <div class="pd-size">
                    <h3>Guia de talles y ajustes</h3>

                    <select name="" id="" class="pd-size-select">
                        <option value="">38</option>
                        <option value="">39</option>
                        <option value="">40</option>
                        <option value="">41</option>
                        <option value="">42</option>
                    </select>
                </div>

                <button class="btn-secondary" onclick="agregarProducto(<%= producto.id %>)">
                    Agregar al carrito <i class="fa-solid fa-arrow-right"></i>
                </button>

                <img src="/img/medio-de-pago.jpg" alt="formas de pago" class="pd-img" />
                <% if(locals.userData?.admin) { %>
                <div class="edit-delete-container">
                    <a class="btn-edit" href="/edit/<%= producto.id %>">
                        Editar
                    </a>
                    <form action="/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-delete">
                            Eliminar
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
        </section>
        <section class="caja-grande">
            <!-- COMPLETA TU LOOK -->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">COMPLETA TU LOOK</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-destacados">
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/Boca-titular.png" alt="producto-1-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial Boca Juniors
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/River-titular.png" alt="producto-2-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial River Plate
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/Buzo-nino.png" alt="producto-3-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$9.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Buzo Niño
                                </p>
                                <p class="categoria-producto">Niño Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/buzo-ninos.png" alt="producto-4-seccion-3"
                                    class="img-producto">
                                <p class="info-precio">$14.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto"> Buzo estampado algodón orgánico </p>
                                <p class="categoria-producto"> Ropa Urbano </p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/zapatillas-ozweego.png" alt="producto-4-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$35.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Zapatillas Ozweego</p>
                                <p class="categoria-producto">Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/camiseta-barcelona.png" alt="producto-5-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$10.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial FC Barcelona
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- PRODUCTOS QUE PODRIAN INTERESARTE -->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS QUE PODRIAN INTERESARTE</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-destacados">
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/Boca-titular.png" alt="producto-1-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial Boca Juniors
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/River-titular.png" alt="producto-2-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial River Plate
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/buzo-nike.jpg" alt="producto-3-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$14.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Buzo Nike
                                </p>
                                <p class="categoria-producto">Niño Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/buzo-ninos.png" alt="producto-4-seccion-3"
                                    class="img-producto">
                                <p class="info-precio">$14.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto"> Buzo Niño </p>
                                <p class="categoria-producto"> Ropa Urbano </p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/zapatillas-ozweego.png" alt="producto-4-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$35.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Zapatillas Ozweego</p>
                                <p class="categoria-producto">Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="/producto/:id">
                            <div>
                                <img class="product-image" src="/img/camiseta-barcelona.png" alt="producto-5-seccion-3"
                                    class="img-producto" />
                                <p class="info-precio">$10.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">
                                    Camiseta titular oficial FC Barcelona
                                </p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
<script src="/js/chart.js"></script>
</html>