<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/stylesheet.css">

  <title> G&X - Login </title>
</head>
<!-- /head -->

<body>
	<!-- Header -->
	<%- include('partials/headerNav', locals) %>
	<!-- /Header -->

  <!-- MAIN -->
  <main>
    <!-- FORM -->
    <section class="form">
      <h1>INICIA SESION EN TU CUENTA</h1>
      <form class="form-box background-log-form" action="login" method="POST" autocomplete="off">
        <div class="container">
          <!-- USUARIO -->
          <div class="fields">
            <div class="field-item">
              <input type="text" name="email" class="input-text" tabindex="1" value="<%= (locals.old?.email) ? old.email : '' %>" required 
              role="presentation" 
              autocomplete="off"
              />
              <label for="email" class="label">
                <span class="text-span">Correo</span>
              </label>
            </div>
            <div class="field-item">
              <input type="password" name="password" class="input-text" tabindex="1" required 
              autocomplete="new-password" />
              <label for="password" class="label">
                <span class="text-span">Contraseña</span>
              </label>
            </div>
          </div>
          <div class="config-field">
            <label>
              <input type="checkbox" class="checkbox-box" name="mantenerSesion" />
              Mantener sesion iniciada
            </label>
            <a href=""> Se te olvido la contraseña? </a>
          </div>

          <% if (locals.error) { %>
              <div class="formulario__mensaje formulario__mensaje-activo" style="background-color:#efa4a4; margin-top:10px;" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> <%= locals.error %></p>
              </div>
          <% } %>

          <div class="login-button-div">
            <button class="btn-secondary btn-block">INICIAR SESION</button>
          </div>

          <div class="iniciar-con">
            <a href="" class="iniciar-con-item"> Inciar con Google </a>
            <a href="" class="iniciar-con-item"> Iniciar con Facebook </a>
          </div>
          <div class="redir-cc">
            <a href="/user/register" class="redir-crear-cuenta">
              Crear nueva cuenta
            </a>
          </div>
        </div>
      </form>
    </section>
  </main>

  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>

</html>