<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/stylesheet.css">

  <title> G&X - Register </title>
</head>
<!-- /head -->

<body>
  <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>

  <!-- Header -->
  <%- include('partials/headerNav', locals) %>
  <!-- /Header -->

  <!-- MAIN -->
  <main>

    <section class="form ">
      <form class="form-box" action="register" method="POST" >
        <fieldset class="form-fieldset">
          <h1>REGISTRATE</h1>

          <label for="cName" class="label"> </label>
          <input name="cName" class="input-text" type="text" tabindex="1" placeholder="Nombres" value="<%= (locals.old?.cName) ? old.cName : '' %>" />

          <% if (locals && locals.errors) { %>
            <% if (locals.errors[0].param=="cName") { %>
              <h3> <%= locals.errors[0].msg %>  </h3> 
            <% } %>
          <% } %>

          <label for="cLastName" class="label"> </label>
          <input name="cLastName" class="input-text" type="text" tabindex="2" placeholder="Apellidos" value="<%= (locals.old?.cLastName) ? old.cLastName : '' %>" />

          <% if (locals && locals.errors) { %>
            <% if (locals.errors[0].param=="cLastName") { %>
              <h3> <%= locals.errors[0].msg %>  </h3> 
            <% } %>
          <% } %>

          <label for="email" class="label"></label>
          <input name="email" class="input-text" type="email" tabindex="3" placeholder="Email" value="<%= (locals.old?.email) ? old.email : '' %>"/>

          <% if (locals && locals.errors) { %>
            <% if (locals.errors[0].param=="email") { %>
              <h3> <%= locals.errors[0].msg %>  </h3> 
            <% } %>
          <% } %>

          <label for="password" class="label"> </label>
          <input name="password" class="input-text" type="password" tabindex="4" placeholder="Contraseña"  />

          <% if (locals && locals.errors) { %>
            <% if (locals.errors[0].param=="password") { %>
              <h3> <%= locals.errors[0].msg %>  </h3> 
            <% } %>
          <% } %>

          <label for="cPassword" class="label"> </label>
          <input name="cPassword" class="input-text" type="password" tabindex="5"
            placeholder="Confirmar contraseña"  />

            <% if (locals && locals.errors) { %>
              <% if (locals.errors[0].param=="cPassword") { %>
                <h3> <%= locals.errors[0].msg %>  </h3> 
              <% } %>
            <% } %>

            <% if (locals && locals.arrCustomErrors) { %>
                <% for (ctError of locals.arrCustomErrors) { %>
                  <h3>-<%= ctError %></h3> 
                <% } %> 
            <% } %>

          <div class="iniciar-con">
            <a href="" class="iniciar-con-item"> Inciar con Google </a>
            <a href="" class="iniciar-con-item"> Iniciar con Facebook </a>
          </div>


          <button type="submit" class="btn-secondary btn-block">Registrarse</button>


          <div class="redir-cc">
            <p>
              Ya tenes cuenta?
              <a href="/user/login" class="redir-crear-cuenta"> INICIA SESION </a>
            </p>
          </div>
        </fieldset>
      </form>
      </div>
    </section>
  </main>

  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>

</html>