<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/stylesheet.css">

  <title> G&X - Register </title>
</head>
<!-- /head -->

<body>
  <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>

  <!-- Header -->
  <%- include('partials/headerNav') %>
  <!-- /Header -->

  <!-- MAIN -->
  <main>

    <section class="form ">
      <form class="form-box" action="register" method="POST"  id="register">
        <fieldset class="form-fieldset">
          <h1>REGISTRATE</h1>

          <div class="formulario__grupo" id="grupo__nombre">
            <label for="cName" class="label"> </label>
            <div>
              <input name="cName" id="cName" class="input-text" type="text" tabindex="1" placeholder="Nombres" value="<%= (locals.old?.cName) ? old.cName : '' %>" />
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="input-text-error"> Solo se pueden utilizar letras y espacios, pueden llevar acentos. No puede estar vacio.</p>
            <% if (locals && locals.errors) { %>
              <% if (locals.errors[0].param=="cName") { %>
                <h3> <%= locals.errors[0].msg %>  </h3> 
              <% } %>
            <% } %>
            
          </div>

          <div class="formulario__grupo" id="grupo__apellido">
            <label for="cLastName" class="label"> </label>
            <div>
              <input name="cLastName" id="cLastName" class="input-text" type="text" tabindex="2" placeholder="Apellidos" value="<%= (locals.old?.cLastName) ? old.cLastName : '' %>" />
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="input-text-error"> Solo se pueden utilizar letras y espacios, pueden llevar acentos. No puede estar vacio.</p>
            <% if (locals && locals.errors) { %>
              <% if (locals.errors[0].param=="cLastName") { %>
                <h3> <%= locals.errors[0].msg %>  </h3> 
              <% } %>
            <% } %>

            </div>


          <div class="formulario__grupo" id="grupo__correo">
            <label for="email" class="label"></label>
            <div>
              <input name="email" id="email" class="input-text" type="email" tabindex="3" placeholder="Email" value="<%= (locals.old?.email) ? old.email : '' %>"/>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="input-text-error"> Solo se pueden registrar email validos.</p>
            <% if (locals && locals.errors) { %>
              <% if (locals.errors[0].param=="email") { %>
                <h3> <%= locals.errors[0].msg %>  </h3> 
              <% } %>
            <% } %>
          </div>


          <div class="formulario__grupo" id="grupo__password">
            <label for="password" class="label"> </label>
            <div>
              <input name="password" id="password" class="input-text" type="password" tabindex="4" placeholder="Contrase単a"  />
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="input-text-error"> Solo se pueden registrar contrase単as de 4 a 12 digitos.</p>
            <% if (locals && locals.errors) { %>
            <% if (locals.errors[0].param=="password") { %>
                <h3> <%= locals.errors[0].msg %>  </h3> 
              <% } %>
            <% } %>
          </div>   

          <div class="formulario__grupo" id="grupo__password2">
            <label for="cPassword" class="label"> </label>
            <div>
              <input name="cPassword" id="cPassword" class="input-text" type="password" tabindex="5"
            placeholder="Confirmar contrase単a"  />
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="input-text-error"> Ambas contrase単as deben coincidir.</p>
              <% if (locals && locals.errors) { %>
                <% if (locals.errors[0].param=="cPassword") { %>
                  <h3> <%= locals.errors[0].msg %>  </h3> 
                <% } %>
              <% } %>

              <% if (locals && locals.arrCustomErrors) { %>
                  <% for (ctError of locals.arrCustomErrors) { %>
                    <h3>-<%= ctError %></h3> 
                  <% } %> 
              <% } %>
          </div>
          
          <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
          </div>


          <div class="iniciar-con">
            <a href="" class="iniciar-con-item"> Inciar con Google </a>
            <a href="" class="iniciar-con-item"> Iniciar con Facebook </a>
          </div>


          <button type="submit" class="btn-secondary btn-block">Registrarse</button>


          <div class="redir-cc">
            <p>
              Ya tenes cuenta?
              <a href="/user/login" class="redir-crear-cuenta"> INICIA SESION </a>
            </p>
          </div>
        </fieldset>
      </form>
      </div>
    </section>
  </main>

  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>

<script src="/js/validationsRegister.js"></script>

</html>