<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Login </title>
    <style>
        .div-containter {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-direction: column;
            height: 100%;
        }
        .div-containter h1 {
            margin: 20px;
            text-transform: uppercase;
        }
        .div-containter p {
            margin: 10px 0px 30px 0px;
        }
    </style>
</head>
<!-- /head -->

<body>
    <div class="info-promo">
        <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
        $20.000
    </div>
    <!-- Header -->
    <%- include('partials/headerNav') %>
    <!-- /Header -->

    <!-- MAIN -->
    <main>
        <div class='div-containter'>
            <h1> BIENVENIDO <%= locals.user.nombre %>! </h1>
            <p> Tu mail ingresado es: <%= locals.user.email %> </p>
            <form action="logOut" method="GET">
                <button type="submit" class="btn-secondary"> Cerrar Sesion </button>
            </form>
        </div>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>