<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
	<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Create </title>
</head>
<!-- /head -->

<body>
	<!-- Header -->
	<%- include('partials/headerNav') %>
	<!-- /Header -->

	<div class="products-wrapper">
		<div class="title-container">
			<div class="editing-title">
				<h2 class="products-title"> Llena el formulario y vende asi de simple! </h2>
			</div>
		</div>
		<div class="box-container">
			<form action="create" method="POST" enctype="multipart/form-data">	
				<div class="pe-container">
					<div class="product-container">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Buzo Adidas " class="form-input">
					
						<% if (locals && locals.errors) { %>
							<% if (locals.errors[0].param=="name") { %>
								<h3> <%= locals.errors[0].msg %>  </h3> 
							<% } %>
						<% } %>
					
					</div>
					<div class="product-container">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 13500" class="form-input">

						<% if (locals && locals.errors) { %>
							<% if (locals.errors[0].param=="price") { %>
								<h3> <%= locals.errors[0].msg %>  </h3> 
							<% } %>
						<% } %>

					</div>
					<div class="product-container">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
								<option value=""> Elegí </option>
								<option value="NUEVO" > Nuevo </option>
								<option value="DESTACADO" > Destacado </option>
						</select>

						<% if (locals && locals.errors) { %>
							<% if (locals.errors[0].param=="category") { %>
								<h3> <%= locals.errors[0].msg %>  </h3> 
							<% } %>
						<% } %>

					</div>
					<div class="load-image-container">
						<label for="cImage" class="form-label">Cargar Imagen: </label>
						<input type="file" name="cImage" id="cImage"></input>
					</div>
					<div class="save-product">
						<button type="submit" class="btn-secondary">Vender producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>