<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
	<%- include('partials/head') %>
	<link rel="stylesheet" href="/css/stylesheet.css">

	<title> G&X - Edit </title>
</head>
<!-- /head -->

<body>
	<!-- Header -->
	<%- include('partials/headerNav') %>
	<!-- /Header -->

	<div class="products-wrapper">
		<div class="title-container">
			<div class="editing-title">
				<h2 class="products-title">Estás editando: <i><%=producto.nombre%></i></h2>
			</div>
		</div>
		<div class="box-container">
			<form action="/edit/<%=producto.id%>?_method=PUT" method="POST">
				<div class="pe-container">
					<div class="product-container">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" value="<%=producto.nombre%>"
							placeholder="Ej: Buzo Adidas " class="form-input">
					</div>
					<div class="product-container">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" value="<%=producto.precio%>" placeholder="Ej: 13500"
							class="form-input">
					</div>
					<div class="product-container">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value=""> Elegí </option>
							<% for(categoria of categorias) { %>
								<option value="<%= categoria.id %>" <% if(categoria.id==producto.categoria_id){ %> selected <% } %> >
									<%=categoria.nombre%> 
								</option>
							<% } %>
						</select>
					</div>
					<div class="load-image-container">
						<label for="cImage" class="form-label-img"> Cambiar imagen </label>
						<input type="file" name="cImage" id="cImage" class="form-input-img"></input>
					</div>
					<div class="save-product">
						<button type="submit" class="btn-secondary">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>