<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/stylesheet.css">

        <title> G&X - Cart </title>
</head>
<!-- /head -->

<body>
    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
        <!-- /Header -->

        <main>
            <section class="caja-grande caja-grande2">
                <div class="store-container">
                    <aside class="store-filters-container">
                        <div class="store-filters-floating-container">
                            <form>
                                <% if(locals.filters) { %>
                                        <% for(filter of locals.filters) { %>
                                            <div class="filter-container">
                                                
                                                <h3 class="filter-title"><%= filter.title %>: </h3>
                                                <% if(filter.type=="check") { %>
                                                    <% for(option of filter.options) { %>
                                                        <label class="filter-label">
                                                            <input type="checkbox" value="<%= option.id %>" name="<%= filter.title %>" 
                                                                <% if(locals.applicated[filter.title]?.some(ctId=>ctId==option.id)) {%> checked <% } %>
                                                            >
                                                            <%= option.nombre %>
                                                        </label>
                                                    <% } %>
                                                <% } %>

                                                <% if(filter.type=="radio") { %>
                                                    <% for(option of filter.options) { %>
                                                        <label class="filter-label">
                                                            <input type="radio" name="<%= filter.title %>" value="<%= option.description%>" 
                                                                <% if(locals.applicated[filter.title] == option.description) {%> checked <% } %>
                                                            >
                                                            <%= option.description %>
                                                        </label>
                                                    <% } %>
                                                <% } %>


                                            </div>
                                        <% } %>
                                        <button type="submit" class="btn-primary"> Aplicar </button>
                                <% } %>       
                            </form>
                        </div>
                    </aside>
                    <div class="store-results-container">
                        <section>
                            <div class="caja-chica-titulo">
                                <h2 class="titulares">NUEVOS LANZAMIENTOS</h2>
                                <a href="" class="titular-secundario">Ver Todos</a>
                            </div>
                            <% if(locals.products?.elements?.length > 0) {%>
                                <div class="caja-chica-productos">
                                    <% for(let producto of locals.products.elements) { %>
                                        <%- include('./partials/components/productCard', {producto, userData:locals.userData}) %>
                                    <% } %>
                                </div>
                                <div class="user-form-pagination-container">
                                    <%- include('partials/tablePagination', { 
                                            quantity: locals.products.quantity,
                                            resultsPerPage: locals.products.resultsPerPage, 
                                            page: locals.products.page,
                                            trigger: "changePageStore.js",
                                        }) %>
                                </div>
                            <% } %> 
                        </section>
        
                    </div>
                </div>
            </section>
        </main>

        <!-- footer -->
        <%- include('partials/footer') %>
            <!-- /footer -->
</body>

</html>