<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/stylesheet.css">

        <title> G&X - Login </title>
        <style>
            .div-containter {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
            }

            .div-containter h1 {
                margin: 20px;
                text-transform: uppercase;
            }

            .div-containter p {
                margin: 10px 0px 30px 0px;
            }
        </style>
</head>
<!-- /head -->

<body>
    <div class="info-promo">
        <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
        $20.000
    </div>
    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
        <!-- /Header -->

        <!-- MAIN -->
        <main>
            <section class='section-user-panel caja-grande'>
                <h1> Panel de usuarios: </h1>

                <form id="userPanelForm" action="panel" method="GET">
                    <div class="form-header-container">
                        <div class="form-inputs-container">
                            <label class="form-label-input">
                                <span>Nombre:</span>
                                <input name="userName" type="text" placeholder="Joe"
                                    value="<%= (locals.formData?.userName) ?? '' %>" />
                            </label>
                            <label class="form-label-input">
                                <span>Apellido:</span>
                                <input name="userLastname" type="text" placeholder="Doe"
                                    value="<%= (locals.formData?.userLastname) ?? '' %>" />
                            </label>
                            <label class="form-label-input">
                                <span>Email:</span>
                                <input name="userEmail" type="text" placeholder="joe-doe@gmail.com"
                                    value="<%= (locals.formData?.userEmail) ?? '' %>" />
                            </label>
                        </div>
                        <div class="form-inputs-container">
                            <label class="form-label-input">
                                <span>Rol:</span>
                                <select name="userRole">
                                    <option value=""> Todos </option>
                                    <option value="1" <% if(locals.formData?.userRole==1) { %> selected<%}%> >
                                            Usuario
                                    </option>
                                    <option value="2" <% if(locals.formData?.userRole==2) { %> selected<%}%> > Admin
                                    </option>
                                    <option value="3" <% if(locals.formData?.userRole==3) { %> selected<%}%> > Super
                                    </option>
                                </select>
                            </label>
                            <label class="form-label-input">
                                <span>Restringido:</span>
                                <select name="userRestringido">
                                    <option value=""> Todos </option>
                                    <option value="1" <% if(locals.formData?.userRestringido==1) { %> selected<%}%>
                                            > SI
                                    </option>
                                    <option value="2" <% if(locals.formData?.userRestringido==2) { %> selected<%}%>
                                            > NO
                                    </option>
                                </select>
                            </label>
                        </div>

                    </div>
                    <div class="form-buttons-container">
                        <button type="reset" class="btn-secondary"> Limpiar </button>
                        <button type="submit" class="btn-primary"> Buscar </button>
                    </div>
                    <% if(locals.usersResults) {%>
                        <% if(locals.usersResults.quantity> 0) {%>
                            <table id="user-edit-table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>Admin</th>
                                        <th>Super</th>
                                        <th>Restringido</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-user-panel">
                                    <% for(currentUser of locals.usersResults.elements) { %>
                                        <tr>
                                            <td>
                                                <%= currentUser.nombre %>
                                            </td>
                                            <td>
                                                <%= currentUser.apellido %>
                                            </td>
                                            <td>
                                                <%= currentUser.email %>
                                            </td>
                                            <td>
                                                <% if(currentUser.admin) {%> SI <%} else {%> NO <%}%>
                                            </td>
                                            <td>
                                                <% if(currentUser.super) {%> SI <%} else {%> NO <%}%>
                                            </td>
                                            <td>
                                                <% if(currentUser.restringido) {%> SI <%} else {%> NO <%}%>
                                            </td>
                                            <td style="padding:0 4px">
                                                <%- include('partials/modals/userEditModal', {userData: currentUser}) %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <div class="user-form-pagination-container">
                                <%- include('partials/tablePagination', { quantity: locals.usersResults.quantity,
                                    resultsPerPage: locals.usersResults.resultsPerPage, page: locals.usersResults.page,
                                    }) %>
                            </div>
                            <% } else { %>
                                <p>No hay coincidencias con la busqueda</p>
                                <% } %>
                                    <% } %>
                </form>

            </section>
        </main>

        <!-- footer -->
        <%- include('partials/footer') %>
            <!-- /footer -->


            <script src="/js/userEditModal.js"></script>
</body>

</html>