<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('./pages/partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Home </title>
</head>
<!-- /head -->

<body>
    <!-- Header -->
    <%- include('./pages/partials/headerNav', locals) %>
    <!-- /Header -->

    <!-- MAIN -->
    <main>
        <!--BANNER -->
        <div class="center">
            <div class="banner-container">
                <div class="images">
                    <img src="./img/banner/campeones.png" alt="">
                    <img src="./img/banner/messias.jpg" alt="">
                    <img src="./img/banner/seleccion.jpg" alt="">
                    <img src="./img/banner/messi-campeon.jpg" alt="">
                </div>
    
                <div onclick="side_slide(-1)" class="slide left">
                    <span class="fas fa-angle-left"></span>
                </div>
                <div onclick="side_slide(1)" class="slide right">
                    <span class="fas fa-angle-right"></span>
                </div>
    
                <div class="btn-sliders">
                    <span onclick="btn_slide(1)"></span>
                    <span onclick="btn_slide(2)"></span>
                    <span onclick="btn_slide(3)"></span>
                    <span onclick="btn_slide(4)"></span>
                </div>
            </div>
        </div>

        <!--SECTIONS-->
        <section class="caja-grande">
            <!--NUEVOS LANZAMIENTOS-->
            <section>
                <div class="caja-chica-titulo">
                    <h2 class="titulares">NUEVOS LANZAMIENTOS</h2>
                    <a href="/store" class="titular-secundario">Ver Todos</a>
                </div>
                
                <div class="caja-chica-productos">
                    <% if(locals.nuevosLanzamientos.length > 0) {%>
                        <% for(let producto of nuevosLanzamientos) { %>
                            <%- include('./pages/partials/components/productCard', {producto, userData:locals.userData}) %>
                        <% } %>
                    <% } %>
                </div>
            </section>

            <!--¿PARA QUIEN COMPRAS?-->
            <section>
                <h2 class="titulares">¿PARA QUIÉN COMPRAS?</h2>
                <div class="caja-chica-modelos">
                    <a href="/coming-soon">
                        <div class="modelos-por-separado mujer">
                            <p class="centrado-texto">MUJER</p>
                        </div>
                    </a>
                    <a href="/coming-soon">
                        <div class="modelos-por-separado hombre">
                            <p class="centrado-texto">HOMBRE</p>
                        </div>
                    </a>
                    <a href="/coming-soon">
                        <div class="modelos-por-separado ninos">
                            <p class="centrado-texto">NIÑOS</p>
                        </div>
                    </a>
                </div>
            </section>
            <!--PRODUCTOS DESTACADOS-->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS DESTACADOS</h2>
                    <a href="/store" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-productos">
                    <% if(locals.productosDestacados.length > 0) {%>
                        <% for(let producto of locals.productosDestacados) { %>
                            <%- include('./pages/partials/components/productCard', {producto, userData:locals.userData}) %>
                        <% } %>
                    <% } %>                    
                </div>
            </section>

        </section>
        <!-- FOOT BANNER -->
        <section class="foot-banner">
            <h2> BUSCALO POR MARCA </h2>
            <div class="foot-carrousel">
                <span class="foot-banner-li foot-banner-arrow" id="button-prev" onclick="side_slide(-1)"> <i class="fa-solid fa-angle-left"></i> </span>
                <ul class="foot-banner-ul">
                    <li class="foot-banner-li">
                        <img src="./img/brands/adidas-brand.png" alt="adidas-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="./img/brands/crocs-brand.png" alt="crocs-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="./img/brands/kappa-brand.png" alt="kappa-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="./img/brands/puma-brand.png" alt="puma-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="./img/brands/reebok-brand.png" alt="reebok-logo">
                    </li>
                </ul>
                <span class="foot-banner-li foot-banner-arrow" id="button-next" onclick="side_slide(1)"> <i class="fa-solid fa-angle-right"></i> </span>
            </div>
        </section>

    </main>

    <!-- footer -->
    <%- include('./pages/partials/footer') %>
    <!-- /footer -->
	<script src="/js/index.js"></script>
    <script src="/js/chart.js"></script>

</body>

</html>