<!-- 
    button
    modalTitle
    tagConfirmMsg
    modalId
 -->

<div>
    <div id="modalBackground<%= locals.modalId %>" class="user-modal-background initial-position">
        <div id="modal<%= locals.modalId %>" class="user-modal" style="width:400px;">
            <div class="edit-user-form">
                <div class="edit-user-modal-container">
                    <h1><%= locals.modalTitle %></h1>
                    <hr class="edit-user-form-separador"/>
                    <div class="form-inputs-container">
                        <%- locals.tagConfirmMsg %>
                    </div>

                </div>
                <div class="buttons-container">
                    <button id="btnCancel<%= locals.modalId %>"
                        class="btn-secondary btn-small btnCancelar">Cancelar</button>
                    <button id="btnSuccess<%= locals.modalId %>"
                        class="btn-primary btn-small btnSuccess"><%- locals.btnSuccessLabel %></button>
                </div>
            </div>
        </div>
    </div>    
    <%- locals.button %>
</div>