<!-- 
    Params que recibe el componente:
    -producto: objeto con info
    -userData: objeto con info
-->

<div class="product-card">

    <i class="btn-add-product-card fa-solid fa-cart-plus" onclick="agregarProducto(<%= locals.producto.id %>, <%= locals?.userData?.id %>)"></i>

    <a href="/detail/<%= locals.producto.id %>">
        <div>                          
            <img class="product-image" src="./img/products/<%= locals.producto.imagens?.length > 0 ? locals.producto.imagens[0].nombre : "" %>""
                alt="img-producto">
            <p class="info-precio">$<%= locals.producto.precio %></p>
        </div>
        <div class="product-data-container">
            <div id="productoData" class="searchProducts_data"> <%= locals.producto.categorium.nombre %> | <%= locals.producto.marca.nombre %> | <%= locals.producto.genero.nombre %></div>
            <p class="descripcion-producto"><%= locals.producto.nombre %></p>
        </div>
    </a>
</div>